# Wykluczenie logow:
/logs/*

# Wykluczenie index.php (definiowanie zmiennej srodowiskowej ENVIRONMENT)
/index.php

#Wykluczenie plikow konfiguracyjnych:
/application/config/database.php

#Wykluczenie /private - importerow, testerow i innego sprzetu pomocniczego (Oczywiscie same skrypty importujace dodaje do repo)
/private/*
